
class_public/
music/
script/
script_files/


data_files/


cobaya_packages/


chains/
output/
*.dat
*.png
*.pdf
*.MD
*.md
*.swp

__pycache__/
*.pyc
*.egg-info/
build/
.venv/
venv/


.ipynb_checkpoints/
